<launch>
  <!-- connect left camera -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="serial_no"           value="943222072902"/>
    <arg name="camera"              value="dancing_camera2"/>
    <arg name="enable_fisheye"      value="false"/>
    <arg name="enable_infra1"       value="false"/>
    <arg name="enable_infra2"       value="false"/>
    <arg name="enable_pointcloud"   value="false"/>
    <arg name="depth_fps"           value="15"/>
    <arg name="color_fps"           value="15"/>
  </include>

  <node name="dynparam_node2" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters dancing_camera2/aligned_depth_to_color/image_raw/compressedDepth">
    <param name="png_level" type="int" value="1"/>
  </node>

</launch>
